@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-xsport-webfont.eot');
    src: url('../fonts/lato-regular-xsport-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-xsport-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-xsport-webfont.woff') format('woff'),
         url('../fonts/lato-regular-xsport-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-xsport-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light-xsport-webfont.eot');
    src: url('../fonts/lato-light-xsport-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-light-xsport-webfont.woff2') format('woff2'),
         url('../fonts/lato-light-xsport-webfont.woff') format('woff'),
         url('../fonts/lato-light-xsport-webfont.ttf') format('truetype'),
         url('../fonts/lato-light-xsport-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'merriweatherlight_italic';
    src: url('../fonts/merriweather-lightitalic-xsport-webfont.eot');
    src: url('../fonts/merriweather-lightitalic-xsport-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/merriweather-lightitalic-xsport-webfont.woff2') format('woff2'),
         url('../fonts/merriweather-lightitalic-xsport-webfont.woff') format('woff'),
         url('../fonts/merriweather-lightitalic-xsport-webfont.ttf') format('truetype'),
         url('../fonts/merriweather-lightitalic-xsport-webfont.svg#merriweatherlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bold-xsport-webfont.eot');
    src: url('../fonts/lato-bold-xsport-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold-xsport-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold-xsport-webfont.woff') format('woff'),
         url('../fonts/lato-bold-xsport-webfont.ttf') format('truetype'),
         url('../fonts/lato-bold-xsport-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldlight';
    src: url('../fonts/oswald-light-xsport-webfont.eot');
    src: url('../fonts/oswald-light-xsport-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-light-xsport-webfont.woff2') format('woff2'),
         url('../fonts/oswald-light-xsport-webfont.woff') format('woff'),
         url('../fonts/oswald-light-xsport-webfont.ttf') format('truetype'),
         url('../fonts/oswald-light-xsport-webfont.svg#oswaldlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldbook';
    src: url('../fonts/oswald-regular-xsport-webfont.eot');
    src: url('../fonts/oswald-regular-xsport-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-regular-xsport-webfont.woff2') format('woff2'),
         url('../fonts/oswald-regular-xsport-webfont.woff') format('woff'),
         url('../fonts/oswald-regular-xsport-webfont.ttf') format('truetype'),
         url('../fonts/oswald-regular-xsport-webfont.svg#oswaldbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latoblack';
    src: url('../fonts/lato-black-xsport-webfont.eot');
    src: url('../fonts/lato-black-xsport-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-black-xsport-webfont.woff2') format('woff2'),
         url('../fonts/lato-black-xsport-webfont.woff') format('woff'),
         url('../fonts/lato-black-xsport-webfont.ttf') format('truetype'),
         url('../fonts/lato-black-xsport-webfont.svg#latoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}